<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Alexandr Fonari" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="../css/screen.css" type="text/css" media="screen, projection" />
   <link rel="stylesheet" href="../css/code.css" type="text/css" media="screen, projection" />

</head>
<body>

{{ content }}

<div class="footer">
  <a href="/">Homepage</a> | <a href="/emc">Effective mass calculator</a> | Found a bug? <a href="https://github.com/alexandr-fonari/emc/issues/new">Submit an issue!</a>
</div>

</body>
</html>